
@{
    ViewData["Title"] = "Home";
}
@model WebApplication3.Models.article



<h1 class="display-4">Etat actuel du stock</h1>

<form asp-controller="Home" asp-action="Index" method="post">
    <div class="form-group">
        <div class="col-md-6">
            <button class="btn btn-primary" type="submit" name="Search" id="Search"> Rechercher </button>
            <button class="btn btn-primary" type="submit" name="Add" id="Add"> Ajouter </button>
            <button class="btn btn-primary" name="extract" id="Exctract"> Extraire </button>
            <button class="btn btn-primary" name="load" id="Load"> Charger </button>

            @switch (article.show)
            {
                case "Add":
                    <p> </p>
                    <button class="btn btn-primary" type="submit" name="Stocks" id="Stocks"> Retour </button>
                    <p> </p>
                    <div class="col-md-12 form-group">
                        <input asp-for="Name" class="form-control" placeholder="Nom" value="@ViewData["save1"]" />
                    </div>
                    <div class="col-md-12 form-group">
                        <input asp-for="NumberRef" class="form-control" placeholder="Reference" />
                    </div>
                    <div class="col-md-12 form-group">
                        <input asp-for="SellPrice" class="form-control" placeholder="Prix" value=@ViewData["save2"]/>
                    </div>
                    <div class="col-md-12 form-group">
                        <input asp-for="QuantityStock" class="form-control" placeholder="Quantité" value="@ViewData["save3"]"/>
                    </div>
                    <button class="btn btn-primary" type="submit" name="Ajouter" id="Ajouter">Confirmer</button>

                    break;

                case "DB":
                    <p> </p>
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Reférence</th>
                                <th>Nom</th>
                                <th>Prix</th>
                                <th>Quantité</th>
                                <th> </th>
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var a in (IEnumerable<Gestion_du_stock.article>)ViewData["stock"])
                            {
                                <tr>
                                    <td>@a.NumberRef</td>
                                    <td>@a.Name</td>
                                    <td>@a.SellPrice</td>
                                    <td>@a.QuantityStock</td>
                                    <td><button class="btn btn-primary" type="submit" name="Remove_@a.NumberRef" id="Remove">Supprimer</button></td>
                                    <td><button class="btn btn-primary" type="submit" name="Modify_@a.NumberRef" id="Modify">Modifier</button></td>

                                </tr>
                            }
                        </tbody>
                    </table>

                    break;

                case "Modify":
                    <p> </p>
                    <button class="btn btn-primary" type="submit" name="Stocks" id="Stocks"> Retour </button>
                    <p> </p>
                    @foreach (var a in (IEnumerable<Gestion_du_stock.article>)ViewData["article"])
                    {

                        <div class="col-md-12 form-group">
                            <input asp-for="Name" class="form-control" placeholder="Nom" value="@a.Name" />
                        </div>

                        <div class="col-md-12 form-group">
                            <input readonly asp-for="NumberRef" class="form-control" value="@a.NumberRef" />
                        </div>

                        <div class="col-md-12 form-group">
                            <input asp-for="SellPrice" class="form-control" placeholder="Prix" value="@a.SellPrice" />
                        </div>
                        <div class="col-md-12 form-group">
                            <input asp-for="QuantityStock" class="form-control" placeholder="Quantité" value="@a.QuantityStock" />
                        </div>
                    }
                    <button class="btn btn-primary" type="submit" name="Confirm" id="Confirmer">Confirmer</button>
                    break;

                case "Remove":
                    <p> </p>
                    <button class="btn btn-primary" type="submit" name="Stocks" id="Stocks"> Retour </button>
                    <p> </p>
                    @foreach (var a in (IEnumerable<Gestion_du_stock.article>)ViewData["article"])
                    {
                        <div class="col-md-12 form-group">
                            <input type="hidden" asp-for="NumberRef" class="form-control" value="@a.NumberRef" />
                        </div>
                    }
                    <button class="btn btn-primary" type="submit" name="supp" id="supp">Confirmer</button>
                    break;


                case "Search":
                    <p> </p>
                    <button class="btn btn-primary" type="submit" name="Stocks" id="Stocks"> Retour </button>
                    <p> </p>
                    <div class="col-md-12 form-group">
                        <input asp-for="NumberRef" class="form-control" placeholder="Reference" />
                    </div>
                    <button class="btn btn-primary" type="submit" name="rechercher" id="rechercher">Confirmer</button>
                    @if (article.found)
                    {
                        <table class="table table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>Reférence</th>
                                    <th>Nom</th>
                                    <th>Prix</th>
                                    <th>Quantité</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var b in (IEnumerable<Gestion_du_stock.article>)ViewData["ref"])
                                {
                                    <tr>
                                        <td>@b.NumberRef</td>
                                        <td>@b.Name</td>
                                        <td>@b.SellPrice</td>
                                        <td>@b.QuantityStock</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    }
                    break;
                default:
                    <p> </p>
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Reférence</th>
                                <th>Nom</th>
                                <th>Prix</th>
                                <th>Quantité</th>
                                <th> </th>
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var a in (IEnumerable<Gestion_du_stock.article>)ViewData["stock"])
                            {
                                <tr>
                                    <td>@a.NumberRef</td>
                                    <td>@a.Name</td>
                                    <td>@a.SellPrice</td>
                                    <td>@a.QuantityStock</td>
                                    <td><button class="btn btn-primary" type="submit" name="Remove_@a.NumberRef" id="Remove">Supprimer</button></td>
                                    <td><button class="btn btn-primary" type="submit" name="Modify_@a.NumberRef" id="Modify">Modifier</button></td>

                                </tr>
                            }
                        </tbody>
                    </table>

                    break;
            }
            @if (ViewBag.Message != null)
            {
                <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
                </script>
            }
        </div>
    </div>
</form>




